.mainTopSection {
    width: 100%;
    min-height: 70vh;
    position: relative;
    background-image: linear-gradient(
            180deg,
            color-mix(in srgb, #55f5 50%, var(--main-darken) 50%) 0%,
            color-mix(in srgb, #f5f2 50%, var(--main-darken) 50%) 50%,
            #BB007B00 100%
        );
    &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        background-image: linear-gradient(
            90deg,
            transparent 0%,
            color-mix(in srgb, var(--main-lighten) 50%, transparent 50%) 50%,
            transparent 100%
        );
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.mainTopTitle {
    position: absolute;
    width: max-content;
    max-width: calc(100% - .5ch);
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    font-size: 25vh;
    margin-top: 2rem;
    text-align: start;
}

.mainTopSoki {
    position: absolute;
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    max-width: calc(100% - .5ch);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: auto;
    font-size: 10vh;
    margin-top: 2rem;
}

@media (aspect-ratio < 4 / 3) {
    .mainTopSection {
        min-height: 60vh;
    }
    
    .mainTopTitle {
        font-size: 10vw;
    }

    .mainTopSoki {
        font-size: 5vw;
        font-weight: 200;
    }
}

@media (aspect-ratio < 2 / 3) {
    .mainTopSection {
        min-height: 50vh;
    }

    .mainTopTitle {
        font-size: 10ch;
    }

    .mainTopSoki {
        font-size: 6ch;
    }
}

main {
    position: relative;
    padding-top: 5rem;
}

.listContents {
    position: absolute;
    height: 3rem;
    width: max-content;
    border-radius: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2ch;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(1ch) saturate(1.25);
    padding-inline: 1.5rem;
    border: 1px solid color-mix(in srgb, var(--main-lighten) 5%, transparent 95%);
    box-shadow: 0 1ch 2ch #0001;
    background: color-mix(in srgb, var(--main-darken) 35%, transparent 65%);
    &>p {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;
        font-weight: 300;
    }
    &>svg {
        width: auto;
        height: 1.25rem;
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover {
        &>svg {
            transform: translateY(10%);
        }
    }
    &:focus-within {
        &>svg {
            transform: rotate(180deg);
        }
    }
}