header {
    position: fixed;
    width: 100%;
    height: 2rem;
    top: 0;
    left: 0;
    z-index: 100;

    /* Effects */
    background: color-mix(in srgb, var(--main-bg) 50%, var(--main-darken) 15%);
    border-bottom: 1px solid color-mix(in srgb, var(--main-lighten) 15%, transparent 85%);
    backdrop-filter: blur(1ch) saturate(1.25);
}